extends ../layout

block content
  h1= title
  
  h3 Type the new password, #{user.name}
  
  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf' value=csrf)
    
    - var passErr = _.find(validate, { path: 'password' }) || ''
    .form-group(class=passErr ? 'has-error' : '')
      label.col-sm-2.control-label(for="password") New password
      .col-sm-10
        input#password.form-control(type='password' name='password' placeholder='New password' autofocus=true required=true aria-describedb='passwordhelp')
        span#passwordhelp.help-block!= passErr ? passErr.message : ''
        
    - var confirmErr = _.find(validate, { type: 'confirm' }) || ''
    .form-group(class=confirmErr ? 'has-error' : '')
      label.col-sm-2.control-label(for="confirmpassword") Confirm password
      .col-sm-10
        input#confirmpassword.form-control(type='password' name='confirmpassword' placeholder='Confirm password' required=true aria-describedby='confirmhelp')
        span#confirmhelp.help-block!= confirmErr ? confirmErr.message : ''
        
    .form-group
      .col-sm-offset-2.col-sm-offset-10
        button.btn.btn-primary(type='submit') Change password