extends ../layout

block content
    .jumbotron.text-center
        h1= __('Sign in to Writer\'s Trail')
        p= __('Login or register with:')
        a.btn.btn-xlarge.btn-facebook(href="/auth/facebook")
            span.fa.fa-facebook.fa-fw
            span= __('Facebook')
        span &nbsp;
        a.btn.btn-xlarge.btn-google-plus(href="/auth/google")
            span.fa.fa-google-plus.fa-fw
            span= __('Google')
        span &nbsp;
        a.btn.btn-xlarge.btn-linkedin(href="/auth/linkedin")
            span.fa.fa-linkedin.fa-fw
            span= __('LinkedIn')

append styles
    link(rel='stylesheet', href='/stylesheets/social-buttons.css')