extends ../layout

block content
    h1 Administration page
    .row
        .col-sm-6
            .well
                h3 New invitation code
                form#invitations.form-horizontal(method='post' action='/admin/invitation')
                    .form-group
                        label.col-sm-2.control-label(for='invitation_code')= __('Invitation code')
                        .col-sm-10
                            input#invitation_code.form-control(type='text' placeholder=__('Code') name='invCode' autofocus=true)
                        input(type='hidden' name='_csrf' value=csrf)
                    .form-group
                        label.col-sm-2.control-label(for='invitation_admount')= __('Amount')
                        .col-sm-10
                            input#invitation_amount.form-control(type='number' placeholder=__('Amount') name='invAmount' value='1')
                    .form-group
                        .col-sm-12
                            button#gen_code.btn.btn-default(type='button')= __('Generate')
                            | &nbsp;
                            button.btn.btn-primary(type='submit')= __('Create code')
        .col-sm-6
            .well
                h3= __('Available invitation codes:')
                - if (!codes || codes.length == 0)
                    p= __('No code available')
                        | &nbsp;
                        span.fa.fa-frown-o
                - else
                    .panel.panel-default
                        form.panel-body(method='post' action='/admin/deleteinvitation')
                            input(type='hidden' name='_csrf' value=csrf)
                            table.table
                                theader
                                    tr
                                        th= __('Delete')
                                        th= __('Code')
                                tbody
                                    each code in codes
                                        tr
                                            td
                                                button.btn.btn-danger(type="submit" name="invId" value=code.id)= __('Delete')
                                            td
                                                != code.code + '&nbsp;'
                                                span.badge= code.amount

append scripts
    script(src='/scripts/admin.js' type='text/javascript')