extends ../layout

block content
    include ../mixins/paginate
    - var pageLink = '?page=' + page
    - var deletedLink = deleted ? '&deleted=true' : ''
    - var orderbyLink = orderby ? '&orderby=' + orderby : ''
    - var orderdirLink = orderdir ? '&orderdir=' + orderdir : ''
    - var orderbyReal = orderby || 'createdAt'
    - var orderdirReal = orderdir || 'DESC'
    - var orderdirClass = orderdir === 'ASC' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'
    - var orderDirHref = function(id) {
    -   if(id === orderbyReal) {
    -       return (orderdirReal == 'ASC' ? 'DESC' : 'ASC')
    -   } else {
    -       return 'ASC'
    -   }
    - }

    mixin orderLink(id, name)
      a(href=paginate.href({ orderby: id, orderdir: orderDirHref(id) }), title='Order by "' + name + '"', role='link')
        if block
          block
        else
          != name
        if(orderbyReal === id)
          | &nbsp;
          span(class=orderdirClass)

    h1 User administration

    +paginate(paginate, totalPages, page)

    form(method='post' action='/admin/user/edit')
      input(type='hidden' name='_csrf' value=csrf)
      table#users.table.table-condensed.table-hover
        caption
          h3= __('Users')
        tr
          th
              input#select_all(type='checkbox')
          th
          th
          th
          th
          th
            +orderLink('id', 'Id')
          th
            +orderLink('name', 'Name')
          th
            +orderLink('invitationCode', 'Invitation')
          th
            +orderLink('activated', 'Activated')
              span.fa.fa-check
          th
            +orderLink('verified', 'Verified')
              span.fa.fa-envelope-o
          th(title='Facebook'): span.fa.fa-facebook
          th(title='Google'): span.fa.fa-google
          th(title='LinkedIn'): span.fa.fa-linkedin
          th(title='Wordpress'): span.fa.fa-wordpress
          th
            +orderLink('createdAt', 'Member since')
          th
            +orderLink('lastAccess', 'Last access')
        each u in users
          tr.tr
            td
              input.selection(type='checkbox' name='selected[]' value=u.id)
            td
              a.btn.btn-sm.btn-primary(href='/admin/user/' + u.id role='button' title= __('Edit'))
                span.fa.fa-lg.fa-edit
            td
              button.btn.btn-sm.btn-default(type='submit' name='activate' value=u.id
                  title= u.activated ? __('Deactivate') : __('Activate'))
                span.fa.fa-lg(class=u.activated ? 'fa-remove' : 'fa-check')
            td
              - var deleteSubmit = u.deletedAt ? 'undelete' : 'delete';
              button.btn.btn-sm.btn-danger(type='submit' name=deleteSubmit value=u.id disabled=(u.id === user.id)
                  title= u.deletedAt ? __('Restore') : __('Delete'))
                span.fa.fa-lg(class=u.deletedAt ? 'fa-undo' : 'fa-trash')
            td
              a.btn.btn-info(href='/admin/login/' + u.id title='Login as ' + u.name disabled=(u.id === user.id))
                span.fa.fa-lg.fa-user
            td= u.id
            td= u.name
            td= u.invitationCode
            td= u.activated ? __('Yes') : __('No')
            td= u.verified ? __('Yes') : __('No')
            td= u.facebookToken ? __('Yes') : __('No')
            td= u.googleToken ? __('Yes') : __('No')
            td= u.linkedinToken ? __('Yes') : __('No')
            td= u.wordpressToken ? __('Yes') : __('No')
            td= moment.utc(u.createdAt).format('YYYY/MM/DD HH:mm')
            td= moment.utc(u.lastAccess).format('YYYY/MM/DD HH:mm')
      .well.well-sm
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            a.btn.btn-default(title=__('Refresh') href=paginate.href())
              span.fa.fa-2x.fa-refresh
          .btn-group(role='group')
            - var hideButtonTitle = deleted ? __('Hide deleted') : __('Show deleted')
            a.btn.btn-info(href=paginate.href({ deleted: deleted ? '' : 'true' }) role='button' title=hideButtonTitle)
              - if(deleted)
                span.fa.fa-2x.fa-toggle-on
              - else
                span.fa.fa-2x.fa-toggle-off
              | &nbsp;
              span.fa.fa-2x.fa-trash
          .btn-group(role='group')
            button.btn.btn-primary(type='submit' name='bulkActivate' value='true' title='Activate selected')
              span.fa.fa-2x.fa-check
            button.btn.btn-warning(type='submit' name='bulkDeactivate' value='true' title='Dectivate selected')
              span.fa.fa-2x.fa-close
          .btn-group(role='group')
            button.btn.btn-danger(type='submit' name='bulkDelete' value='true' title='Delete selected')
              span.fa.fa-2x.fa-trash
            button.btn.btn-success(type='submit' name='bulkRestore' value='true' title='Restore selected')
              span.fa.fa-2x.fa-undo
    .well.well-sm
      h3= __('Activate the next n users')
      form.form-inline(method='post', action='/admin/users/callnext')
        input(type='hidden' name='_csrf' value=csrf)
        .form-group
          label.sr-only(for='amount')
          input#amount.form-control(placeholder=__('Amount') type='number' name='amount' value='5')
        .form-group
          | &nbsp;
          button.btn.btn-info(type='submit' name='activatenext' value='true')= __('Activate')
      | &nbsp;
      if actlist
        - var concat = _.map(actlist, function(p) { return p.name + ' <' + p.email + '>' })
        textarea#actlist.form-control(rows='1')
          = concat.join()
        | &nbsp;
        h4= __('List of activated users')
        ul.list-group
          each person in actlist
            li.list-group-item= person.name + ' <' + person.email + '>'
        
append scripts
  script(src='/scripts/users.min.js' type='text/javascript')
