extends ../layout

block content
    h1 User administration
    - if(totalPages > 1)
        nav
            ul.pagination
                - if(page > 1)
                    li
                        a(href='/admin/users' title='First') &#8810;
                    li
                        a(href=('/admin/users?page=' + (page - 1)), title='Previous') &lt;
                - for(var i = 1; i <= totalPages; i++)
                    - var active =( page == i ? 'active' : '')
                    li(class=active)
                        a(href='/admin/users?page=' + i + (deleted ? '&deleted=true' : ''))= i
                - if(page < totalPages)
                    li
                        a(href=('/admin/users?page=' + (page + 1)), title='Next') &gt;
                    li
                        a(href=('/admin/users?page=' + totalPages), title='Last') &#8811;
            
    .panel.panel-default
        .panel-heading
            h3.panel-title Users
        .panel-body
            form(method='post' action='/admin/user/edit')
                input(type='hidden' name='_csrf' value=csrf)
                table.table.table-striped.table-condensed
                    tr
                        th
                            input#select_all(type='checkbox')
                        th 
                        th 
                        th Id
                        th Name
                        th Activated
                        th Facebook
                        th Twitter
                        th Google
                        th Member since
                        th Last access
                    each u in users
                        tr
                            td
                                input(type='checkbox' name='selected[]' value=u.id)
                            td
                                button.btn.btn-sm.btn-default(type='submit' name='activate' value=u.id)
                                    = u.activated ? __('Deactivate') : __('Activate')
                            td
                                - var deleteSubmit = u.deletedAt ? 'undelete' : 'delete';
                                button.btn.btn-sm.btn-danger(type='submit' name=deleteSubmit value=u.id)
                                    = u.deletedAt ? __('Restore') : __('Delete')
                            td= u.id
                            td= u.name
                            td= u.activated ? __('Yes') : __('No')
                            td= u.facebookToken ? __('Yes') : __('No') 
                            td= u.twitterToken ? __('Yes') : __('No')
                            td= u.googleToken ? __('Yes') : __('No')
                            td= moment(u.createdAt).format('YYYY/MM/DD')
                            td= moment(u.lastAccess).format('YYYY/MM/DD HH:mm')
                .well.well-sm
                    .btn-toolbar(role='toolbar')
                        .btn-group(role='group')
                            - var hideButtonTitle = deleted ? __('Hide deleted') : __('Show deleted')
                            a.btn.btn-info(href='?page=' + page + '&deleted=' + (!deleted) role='button' title=hideButtonTitle)
                                - if(deleted)
                                    span.fa.fa-lg.fa-toggle-on
                                - else
                                    span.fa.fa-lg.fa-toggle-off
                                | &nbsp;
                                span.fa.fa-lg.fa-trash
                        .btn-group(role='group')
                            button.btn.btn-primary(type='submit' name='bulkActivate' value='true' title='Activate selected')
                                span.fa.fa-lg.fa-check
                            button.btn.btn-warning(type='submit' name='bulkDeactivate' value='true' title='Dectivate selected')
                                span.fa.fa-lg.fa-close
                        .btn-group(role='group')
                            button.btn.btn-danger(type='submit' name='bulkDelete' value='true' title='Delete selected')
                                span.fa.fa-lg.fa-trash
                            button.btn.btn-success(type='submit' name='bulkRestore' value='true' title='Restore selected')
                                span.fa.fa-lg.fa-floppy-o
