extends ../layout

block content
  h1 New feedback
  
  p.text-info Make sure it doesn't already exist by looking the list at the 
    a(href='/feedback') feedback page
    | .
  p.text-muted You may see the status of the feedback you provided by looking 
    a(href='/feedback/mine') your sent feedback
    | . Wait for an answer before posting duplicates. For better conversation, send us an email at 
    strong writerstrail@georgemarques.com.br
  
  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf' value=csrf)
    
    - var typeErr = _.find(validate, { path: 'type' }) || ''
    .form-group(class=typeErr ? 'has-error' : '')
      label.col-md-2.control-label(for='type') Type
      .col-md-10
        select#type.form-control(name='type' aria-describedby='typehelp')
          for t in types
            option(selected=(feedback.type === t))= t
        span#typehelp.help-block= typeErr ? typeErr.message : ''
        
    - var summaryErr = _.find(validate, { path: 'summary' }) || ''
    .form-group(class=summaryErr ? 'has-error' : '')
      label.col-md-2.control-label(for='summary') Summary
      .col-md-10
        input#summary.form-control(name='summary' type='text' required=false placeholder='Summary' value=feedback.summary aria-describedby='summaryhelp' autofocus=true)
        span#summaryhelp.help-block= summaryErr ? summaryErr.message : ''
        
    .form-group
      label.col-md-2.control-label(for='description') Description
      .col-md-10
        textarea#description.form-control(name='description' placeholder='Provide useful description and reproduction steps to make it easier to fix bugs')
          = feedback.description
    .form-group
      .col-md-offset-2.col-md-10
        button.btn.btn-primary(type='submit')
          span.fa.fa-check
          |  Send
