extends ../layout

block content
  include ../mixins/filters
  h1 Feedback list
  
  if user
    .btn-group
      a.btn.btn-success(href='/feedback/new' title='New feedback')
        span.fa.fa-lg.fa-plus
        |  Add feedback/bug/suggestion
      a.btn.btn-default(href='/feedback/mine' title='Your feedback')
        span.fa.fa-lg.fa-list
        |  See feedback you provided
  p  
  
  +filters(filters, '/feedback?status=All')
  
  p  
  
  form.form-inline(method='get')
    .form-group
      select#status.form-control(name='status')
        option(selected=i === 'all') All
        for i in stati
          option(selected=i === query.status)= i
    |  
    .checkbox
      label
        input(type='checkbox' checked=!!query.deleted name='deleted')
        | Show deleted
    |  
    .form-group
      button.btn.btn-primary(type='submit') Filter
  
  p  
  
  .row
    .col-sm-8
      ul.list-group
        if feedback.length === 0
          h3 No feedback to show.
        else
          for fb in feedback
            - var itemclass = fb.type === 'Bug' ? 'danger' : (fb.type === 'Suggestion' ? 'success' : (fb.type === 'Feedback' ? 'info': 'warning'))
            li.list-group-item(class='list-group-item-' + itemclass)
              span.badge= fb.totalVotes || 0
              if user && !fb.deletedAt
                - var vote = _.where(votes, { feedbackId: fb.id })
                - vote = vote.length > 0 ? vote[0].vote : '0'
                a.text-success(href='/feedback/' + fb.id + '/upvote' + (vote === 1 ? '/undo' : '') title='I approve' + (vote === 1 ? ' (undo)' : '')): span.fa.fa-lg(class='fa-thumbs-' + (vote === 1 ? '' : 'o-') + 'up')
                |  
                a.text-danger(href='/feedback/' + fb.id + '/downvote' + (vote === -1 ? '/undo' : '') title='I disapprove' + (vote === -1 ? ' (undo)' : '')): span.fa.fa-lg(class='fa-thumbs-' + (vote === -1 ? '' : 'o-') + 'down')
                |  
              a(href='/feedback/' + fb.id title=fb.type class='text-' + itemclass)
                if fb.deletedAt
                  s= fb.summary
                else
                  = fb.summary
              span.text-muted.pull-right: small (#{fb.status})
