extends ../layout

block content
    h1 Account settings for #{user.name}.
    - if (!user.activated)
        .row
            .col-sm-12
                .well.well-sm
                    h3 Activate account
                    p. 
                        To be able to use this beta application, you need to wait
                        until it's publicly available. If you have an invitation code
                        to the beta test, use it below to activate your account.
                    form.form-horizontal(method="post" action="/account/activate")
                        input(type="hidden" name="_csrf" value=csrf)
                        .form-group
                            label.col-sm-2.control-label(for="code")= __('Invitation code')
                            .col-sm-10
                                input#code.form-control(name="code" placeholder="Code" autofocus=true)
                        .form-group
                            .col-sm-10.col-sm-offset-2
                                button.btn.btn-success(type="submit") Activate
    - else
        .row
            .col-sm-12
                .well.well-sm
                    h3= __('Activate account')
                    p= __('Your account is already activated.')
    .row
        .col-sm-12
            .well.well-sm
                form.form-horizontal(method="post")
                    input(type="hidden", name="_csrf", value=csrf)
                    .form-group
                        label.col-sm-1.control-label(for="id")= __('Id')
                        .col-sm-11
                            p#id.form-control-static= user.id
                    .form-group
                        label.col-sm-1.control-label(for="name")= __('Name')
                        .col-sm-11
                            input#name.form-control(value=user.name, name="name", placeholder=__("Name"), autofocus=user.activated)
                    - if(emails.length == 1)
                        .form-group
                            label.col-sm-1.control-label(for="email")= __('Email')
                            .col-sm-11
                                p#email.form-control-static= user.email
                    - else
                        .form-group
                            label.col-sm-1.control-label(for="email")= __('Email')
                            .col-sm-11
                                select#email.form-control(name='email')
                                    each m in emails
                                        option(value=m)= m
                    .form-group
                        .col-sm-11.col-sm-offset-1
                            button.btn.btn-primary(type="submit")= __('Update')
    .row
        .col-sm-4
            .well.well-sm
                h3.text-primary
                    span.fa.fa-fw.fa-facebook
                    = __('Facebook')
                - if(user.facebookToken)
                    p= __('You are connected to Facebook as %s.', user.facebookName)
                    a.btn.btn-facebook(href="/unlink/facebook")
                        span.fa.fa-facebook
                        | &nbsp;
                        = __('Unlink Facebook')
                - else
                    p= __('You are not connected to Facebook.')
                    a.btn.btn-facebook(href="/connect/facebook")
                        span.fa.fa-facebook
                        | &nbsp;
                        = __('Connect to Facebook')
        .col-sm-4
            .well.well-sm
                h3.text-danger
                    span.fa.fa-fw.fa-google-plus
                    = __('Google')
                - if(user.googleToken)
                    p= __('You are connected to Google as %s.', user.googleName)
                    a.btn.btn-google-plus(href="/unlink/google")
                        span.fa.fa-google-plus
                        | &nbsp;
                        = __('Unlink Google')
                - else
                    p= ('You are not connected to Google.')
                    a.btn.btn-google-plus(href="/connect/google")
                        span.fa.fa-google-plus
                        | &nbsp;
                        = __('Connect to Google')
        .col-sm-4
            .well.well-sm
                h3.text-info
                    span.fa.fa-fw.fa-linkedin
                    = __('LinkedIn')
                - if(user.linkedinToken)
                    p= __('You are connected to LinkedIn as %s.', user.linkedinName)
                    a.btn.btn-linkedin(href="/unlink/linkedin")
                        span.fa.fa-linkedin
                        | &nbsp;
                        = __('Unlink LinkedIn')
                - else
                    p= __('You are not connected to LinkedIn.')
                    a.btn.btn-linkedin(href="/connect/linkedin")
                        span.fa.fa-linkedin
                        | &nbsp;
                        = __('Connect to LinkedIn')
    .row
        .col-sm-12
            .well.well-sm
                h3= __('Delete account')
                form(method="post", action='/account/delete')
                    input(type="hidden", name="_csrf", value=csrf)
                    .form-group
                        button.btn.btn-danger(type="submit")= __('Delete account')

append styles
    link(rel='stylesheet', href='/stylesheets/social-buttons.css')