extends ../layout

block content
    h1 Account settings for #{user.name}.
    - if (!user.activated)
        .row
            .col-sm-12
                .well.well-sm
                    h3 Activate account
                    p. 
                        To be able to use this beta application, you need to wait
                        until it's publicly available. If you have an invitation code
                        to the beta test, use it below to activate your account.
                    form.form-horizontal(method="post" action="/account/activate")
                        input(type="hidden" name="_csrf" value=csrf)
                        .form-group
                            label.col-sm-2.control-label(for="code")= __('Invitation code')
                            .col-sm-10
                                input#code.form-control(name="code" placeholder="Code" autofocus=true)
                        .form-group
                            .col-sm-10.col-sm-offset-2
                                button.btn.btn-success(type="submit") Activate
    - else
        .row
            .col-sm-12
                .well.well-sm
                    h3 Activate account
                    p= __('Your account is already activated.')
    .row
        .col-sm-12
            .well.well-sm
                form.form-horizontal(method="post")
                    input(type="hidden", name="_csrf", value=csrf)
                    .form-group
                        label.col-sm-1.control-label(for="id")= __('Id')
                        .col-sm-11
                            p#id.form-control-static= user.id
                    .form-group
                        label.col-sm-1.control-label(for="name")= __('Name')
                        .col-sm-11
                            input#name.form-control(value=user.name, name="name", placeholder="Name", autofocus=user.activated)
                    .form-group
                        label.col-sm-1.control-label(for="email")= __('Email')
                        .col-sm-11
                            p#email.form-control-static= user.email
                    .form-group
                        .col-sm-11.col-sm-offset-1
                            button.btn.btn-primary(type="submit") Update
    .row
        .col-sm-6
            .well.well-sm
                h3.text-primary
                    span.fa.fa-fw.fa-facebook
                    | Facebook
                - if(user.facebookToken)
                    p You are connected to Facebook as #{user.facebookName}.
                    a.btn.btn-primary(href="/unlink/facebook") Unlink Facebook
                - else
                    p You are not connected to Facebook.
                    a.btn.btn-primary(href="/connect/facebook") Connect to Facebook
        .col-sm-6
            .well.well-sm
                h3.text-danger
                    span.fa.fa-fw.fa-google-plus
                    | Google
                - if(user.googleToken)
                    p You are connected to Google as #{user.googleName}.
                    a.btn.btn-danger(href="/unlink/google") Unlink Google
                - else
                    p You are not connected to Google.
                    a.btn.btn-danger(href="/connect/google") Connect to Google
    .row
        .col-sm-12
            .well.well-sm
                h3 Delete account
                form(method="post", action='/account/delete')
                    input(type="hidden", name="_csrf", value=csrf)
                    .form-group
                        button.btn.btn-danger(type="submit") Delete account