extends ../layout

block content
  include ../mixins/progressbar
  #nowrite.alert.alert-danger(style='display: none')
    | You didn't write anything today.&#x0020;
    a.alert-link(href='/timer') Fix this and write now
    | .
  h1
    span.fa.fa-lg.fa-dashboard
    |  
    = title
  
  .row
    .col-md-12
      #active-projects.panel.panel-primary
        .panel-heading
          h3.panel-title
            span.fa.fa-files-o
            |  Last five active projects
        ul.list-group
          if projects.length === 0
            li.list-group-item
              .row
                .col-md-12
                  h3.text-center No current active project
                  p.text-center
                    a.btn.btn-primary(href='/projects/new' title='New project') Create a new one now
          for project in projects
            li.list-group-item
              .row
                .col-md-3.project-list-title
                  a.project-list-title(href='/projects/' + project.id title=project.description)= project.name
                  |  
                  a(href='/projects/' + project.id + '/edit' title='Edit')
                    span.fa.fa-edit
                .col-md-7
                  if project.targetwc === 0
                    p No target defined. 
                      = project.currentWordcount
                      |  written words.
                  else
                    +progressbar(project.currentWordcount, project.targetwc, project.percentage)
                .col-md-2
                  a.btn.btn-primary(href='/sessions/new?projectid=' + project.id title='New session for project ' + project.name) New session
          li.list-group-item.text-center
            a#see-projects(href='/projects/active') See all active projects
            
  .row
    .col-md-6
      #latest-target.panel.panel-default
        .panel-heading
          h3.panel-title
            span.fa.fa-line-chart
            |  Nearest target
        .panel-body
          if target
            #chart
            .text-center
              button#target-change.btn.btn-default(type='button') Show as daily writing
          else
            h3.text-center You have no active target
            p.text-center
              a.btn.btn-primary(href='/targets/new' title='New target') Create a new one now
        ul.list-group
          li.list-group-item.text-center
            a(href='/targets') See all targets
            
    .col-md-6
      #stats.panel.panel-default
        .panel-heading
          h3.panel-title
            span.fa.fa-calculator
            a(href='/stats' title='See all stats')  Writing stats
        ul.list-group
          li.list-group-item You have written a total of 
            strong= isNaN(stats.totalWordcount) ? 0 : stats.totalWordcount
            |  words.
          li.list-group-item You have an average of 
            strong= stats.dailyAverage.toFixed(2)
            |  words written per day.
          li.list-group-item You have an average of 
            strong= stats.wpm.toFixed(2)
            |  words written per minute.
          if stats.period
            li.list-group-item You are most productive at 
              strong(title!=stats.period.start + '&mdash;' + stats.period.end style='border-bottom: 1px dashed #999')= stats.period.period
              |  period, achieving an average of 
              strong= stats.period.performance.toFixed(2)
              |  words per minute.
              if stats.period.performance.toFixed(2) !== stats.period.realPerformance.toFixed(2)
                |  (
                strong= stats.period.realPerformance.toFixed(2)
                |   words per minute excluding time not writing).
          else
            li.list-group-item You don't have enough sessions to calculate the most productive period.
          if stats.session
            li.list-group-item You are most productive at 
              strong!= '&#x2248;' + stats.session.minuteDuration
              | -minute&#x0020;
              strong= stats.session.direction
              |  sessions, achieving an average of 
              strong= stats.session.performance.toFixed(2)
              |  words per minute.  
              if stats.session.performance.toFixed(2) !== stats.session.realPerformance.toFixed(2)
                |  (
                strong= stats.session.realPerformance.toFixed(2)
                |   words per minute excluding time not writing).
          else
            li.list-group-item You don't have enough sessions to calculate the most productive session type.
          if stats.highestWpm
            li.list-group-item Your best performance was&nbsp;
              if user.settings.performanceMetric === 'total'
                strong(title='Total performance (per settings)')= stats.highestWpm.performance.toFixed(2)
              else
                strong(title='Real performance (per settings)')= stats.highestWpm.realPerformance.toFixed(2)
              |  words per minute in a&#x0020;
              a(href='/sessions/' + stats.highestWpm.sessionId title='Link to session')
                strong!= '&#x2248;' +  stats.highestWpm.minuteDuration
                | -minute&#x0020;
                strong= stats.highestWpm.direction
                |  session
              |  increasing&#x0020;
              strong= stats.highestWpm.sessionWordcount
              |  words for project&#x0020;
              a(href='/projects/' + stats.highestWpm.projectId title='Project ' + stats.highestWpm.projectName)
                = stats.highestWpm.projectName
              | .
          else
            li.list-group-item You don't have enough sessions to calculate the highest wordcount per minute.
          if stats.largestProject
            li.list-group-item Your largest project is 
              strong= stats.largestProject.name
              |  with 
              strong= stats.largestProject.currentWordcount
              |  total words.
          else
            li.list-group-item You don't have any project.
          li.list-group-item.text-center
            a(href='/stats') See all stats

append scripts  
  script(type='text/javascript', src='/vendor/highcharts/highcharts.min.js')
  script(type='text/javascript', src='/vendor/highcharts/exporting.min.js')
  script(type='text/javascript', src='/scripts/highcharts-init.js')
  script(type='text/javascript', src='/scripts/chart.js')
  unless example
    script(type='text/javascript', src='/scripts/nowritewarning.js')
  if target
    script(type='text/javascript')
      unless example
        if target
          | targetChart(#{target.id}, jQuery, Highcharts, '!{user.settings.chartType}', !{user.settings.showRemaining},
          |     !{user.settings.showAdjusted}, '#{target.unit}', '<a href="/targets/#{target.id}">#{target.name}</a>');
      else
        | chart2('/example/targetdata.json', jQuery, Highcharts, 'cumulative', false, false, 'word', '#{target.name}');
  script
    unless example
      if user.settings.showTour
        | tour(jQuery, hopscotch, range(0, 1).concat(range(56, 57)).concat(range(58, 70)));
    else
      | $(function() { $('a').click(function(e) { e.preventDefault(); }) });
      if user.settings.showTour
        | tour(jQuery, hopscotch, range(2, 14));
