extends ../layout

block content
  h1 Timer and chronometer
  
  .row
    .col-sm-6: .panel.panel-default
      .panel-heading
        h3.panel-title Timer
      .panel-body
        .row: .col-sm-12: .form-inline.time-fields
          .form-group
            label.control-label(for='min') Minutes   
            | &nbsp;
            input#min.form-control(type='number' placeholder='Minutes' value=minutes)
            | &nbsp;
          .form-group
            label.control-label(for='sec')  Seconds
            | &nbsp;
            input#sec.form-control(type='number' placeholder='Seconds' value=seconds)
            | &nbsp;
          .form-group
            button#timerstart.btn.btn-primary(type='button') Start
            | &nbsp;
            button#timerpause.btn.btn-warning(type='button' disabled=true) I'm away
            
        .row
          .col-sm-6
            h2.text-center: big: strong#rem-min= minutes
            #timer-min
          .col-sm-6
            h2.text-center: big: strong#rem-sec= seconds
            #timer-sec
        .row
          .col-sm-12.text-center
            p: big Time away: 
              span#timeraway 0:00:00
            
    .col-sm-6
      .panel.panel-default
        .panel-heading
          h3.panel-title Chronometer
        .panel-body
          .center-block.text-center
            button#clockstart.btn.btn-lg.btn-primary(type='button') Start
            |   
            button#clockpause.btn.btn-lg.btn-warning(type='button' disabled=true) I'm away
            |   
            button#clockreset.btn.btn-lg.btn-default(type='button') Reset
          h2.text-center: big: strong#clock-time
            span#clockHour 0
            | :
            span#clockMinutes 00
            | :
            span#clockSeconds 00
          .row
            .col-sm-offset-3.col-sm-6
              include ../includes/clock.svg
          .row
            .col-sm-12.text-center
              p: big Time away: 
                span#clockaway 0:00:00
              
block preoutside
  .modal.fade#sessionForm(role='dialog' aria-labelledby='sessionFormTitle' aria-hidden='true'): .modal-dialog.modal-lg: .modal-content
    .modal-header
      button.close(type='button' data-dismiss='modal' aria-label='close')
        span(aria-hidden='true')
          span.fa.fa-remove
      h4#sessionFormTitle Save new session
    .modal-body
      form#sessionFormFields.form-horizontal(action='/sessions/new' method='post')
        input(type='hidden' name='_csrf' value=csrf)
        input#zoneOffset(type='hidden' name='zoneOffset' value='0')
        .form-group
          label.col-sm-2(for='text') Paste your text so I can count it
          .col-sm-10
            textarea#text.form-control(name='text' placeholder='Text')
        .form-group
          label.col-sm-2(for='wordcount') Or just insert the amount here
          .col-sm-10
            input#wordcount.form-control.sessionForm(type='text' name='wordcount' placeholder='Words written')
        .form-group
          label.col-sm-2(for='summary') Summary
          .col-sm-10
            input#summary.form-control.sessionForm(type='text' name='summary' placeholder='Summary')
        .form-group
          label.col-sm-2(for='project') Project
          .col-sm-10
            select#project.form-control.sessionForm(name='project')
              for project in projects
                option(value=project.id)= project.name
        .form-group
          label.col-sm-2(for='start') Start
          .col-sm-10
            input#start.form-control.sessionForm(type='text' name='start' placeholder='Start')
        .form-group
          label.col-sm-2(for='duration') Duration (min:sec)
          .col-sm-10
            input#duration.form-control.sessionForm(type='text' name='duration' placeholder='Duration')
        .form-group
          label.col-sm-2(for='pausedTime') Time not writing (min:sec)
          .col-sm-10
            input#pausedTime.form-control(.sessionFormtype='text' name='pausedTime' placeholder='Time not writing')
        .form-group
          .col-sm-offset-2.col-sm-10
            .checkbox
              label
                input#countdown.sessionForm(type='checkbox' name='isCountdown')
                | Countdown session
        .form-group
          label.col-sm-2(for='notes') Notes
          .col-sm-10
            textarea#notes.form-control(name='notes' placeholder='Notes')
            
    .modal-footer
      button#sessionCancel.btn.btn-danger(type='button' data-dismiss='modal') Cancel
      button#sessionSave.btn.btn-primary(type='button') Save
    
      
append styles
  link(rel='stylesheet', href='/bower_components/c3/c3.min.css')
  link(rel='stylesheet', href='/stylesheets/timer.css')

append scripts  
  script(type='text/javascript', src='/bower_components/d3/d3.min.js')
  script(type='text/javascript', src='/bower_components/c3/c3.min.js')
  script(type='text/javascript', src='/bower_components/moment/min/moment-with-locales.min.js')
  script(type='text/javascript', src='/bower_components/ionsound/js/ion.sound.min.js')
  script(type='text/javascript', src='/scripts/timer.js')
  script
    | setup(document, jQuery, c3, ion, moment, {
    | dateFormat: '!{user.settings.dateFormat}',
    | timeFormat: '!{user.settings.timeFormat}'
    | }, !{minutes}, !{seconds});
