extends ../layout

block content
  h1 Timer and chronometer
  
  .row
    .col-sm-6: .panel.panel-default
      .panel-heading
        h3.panel-title Timer
      .panel-body
        .row: .col-sm-12: .form-inline.time-fields
          .form-group
            label.control-label(for='min') Minutes   
            | &nbsp;
            input#min.form-control(type='number' placeholder='Minutes' value=minutes)
            | &nbsp;
          .form-group
            label.control-label(for='sec')  Seconds
            | &nbsp;
            input#sec.form-control(type='number' placeholder='Seconds' value=seconds)
            | &nbsp;
          .form-group
            button#timerstart.btn.btn-primary(type='button') Start
            | &nbsp;
            button#timerpause.btn.btn-warning(type='button' disabled=true) I'm away
            
        .row
          .col-sm-6
            h2.text-center: big: strong#rem-min= minutes
            #timer-min
          .col-sm-6
            h2.text-center: big: strong#rem-sec= seconds
            #timer-sec
      
append styles
  link(rel='stylesheet', href='/bower_components/c3/c3.min.css')
  link(rel='stylesheet', href='/stylesheets/timer.css')

append scripts  
  script(type='text/javascript', src='/bower_components/d3/d3.min.js')
  script(type='text/javascript', src='/bower_components/c3/c3.min.js')
  script(type='text/javascript', src='/bower_components/ionsound/js/ion.sound.min.js')
  script(type='text/javascript', src='/scripts/timer.js')
  script
    | timerSetup(jQuery, c3, ion, !{minutes}, !{seconds});