extends ../../layout

block content
  - var checkGenre = function (id) {
  -   return !!(_.find(project.Genres, function (g) { return g.id == id; } )) ? 'checked' : false;
  - }
  if edit
    h1= __('Edit project')
  else 
    h1= __('New project')
    
  if edit
    .btn-group(role='toolbar')
      a.btn.btn-lg.btn-default(href='/projects/active' title='List of active projects' role='button')
        span.fa.fa-dashboard.fa-lg
      a.btn.btn-lg.btn-default(href='/projects' title='List of all projects' role='button')
        span.fa.fa-files-o.fa-lg
      a.btn.btn-lg.btn-default(href='/projects/' + project.id title='View this project' role='button')
        span.fa.fa-eye.fa-lg
      a.btn.btn-lg.btn-default(href='/sessions/new?projectid=' + project.id title='New session' role='button')
        span.fa.fa-clock-o.fa-lg
      a.btn.btn-lg.btn-default(href='/sessions?projectid=' + project.id title='All sessions for this project' role='button')
        span.fa.fa-list-alt.fa-lg
    p &nbsp;

  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf', value=csrf)
    
    - var nameErr = _.find(validate, function(err) { return err.path === 'name' || err.path === 'uniqueName'; }) || ''
    
    .form-group(class=(nameErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='name')= __('Name')
      .col-sm-10
        input#name.form-control(type='text' name='name' placeholder=__('Name') value=project.name aria-describedby='namehelp')
        span#namehelp.help-block= __(nameErr ? nameErr.message : '')
        
    - var wcErr = _.find(validate, { path: 'wordcount'}) || ''

    .form-group(class=(wcErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='wordcount')= __('Starting word count')
      .col-sm-10
        input#wordcount.form-control(type='text' name='wordcount' placeholder=__('Starting word count') value=project.wordcount aria-describedby='wchelp')
        span#wchelp.help-block= __(wcErr ? wcErr.message : '')
        
    - var twcErr = _.find(validate, function(err) { return err.path === 'targetwc' || err.path === 'targetOverStart'; }) || ''
    
    .form-group(class=(twcErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='targetwc')= __('Target word count')
      .col-sm-10
        input#targetwc.form-control(type='text' name='targetwc' placeholder=__('Target word count') value=project.targetwc aria-describedby='twchelp')
        span#twchelp.help-block= __(twcErr ? twcErr.message : '')
        
    .form-group
      label.col-sm-2.control-label(for='Description')= __('Description')
      .col-sm-10
        textarea#name.form-control(rows='3' name='description' placeholder=__('Description'))= project.description
        
    .form-group
      .col-sm-10.col-sm-offset-2
        .checkbox
          label
            input#active(type='checkbox' name='active' checked=project.active)
            | Active
    .form-group
      .col-sm-10.col-sm-offset-2
        .checkbox
          label
            input#active(type='checkbox' name='finished' checked=project.finished)
            | Finished
    for chunk, i in genres
      .form-group
        if i === 0
          label.col-sm-2.control-label Genres
        .col-sm-3(class= i !== 0 ? 'col-sm-offset-2' : '')
          .checkbox
            label
              input(type='checkbox', name='genres[]' value=chunk[0].id checked=checkGenre(chunk[0].id))
              = chunk[0].name
        if chunk[1]
          .col-sm-3
            .checkbox
              label
                input(type='checkbox', name='genres[]' value=chunk[1].id checked=checkGenre(chunk[1].id))
                = chunk[1].name
        if chunk[2]
          .col-sm-3
            .checkbox
              label
                input(type='checkbox', name='genres[]' value=chunk[2].id checked=checkGenre(chunk[2].id))
                = chunk[2].name
    include ../../mixins/single-form-buttons