extends ../../layout

block content
  - var checkGenre = function (id) {
  -   return !!(_.find(project.genres, function (g) { return g.id == id; } )) ? 'checked' : false;
  - }
  if edit
    h1= __('Edit project')
  else 
    h1= __('New project')
    
  .btn-group(role='toolbar')
    if edit 
      a.btn.btn-lg.btn-default(href='/projects/' + project.id title='View this project')
        span.fa.fa-eye.fa-lg
    else
      a.btn.btn-lg.btn-default(href='/projects/active' title='List of active projects')
        span.fa.fa-fire.fa-lg
      a.btn.btn-lg.btn-default(href='/projects' title='List of all projects')
        span.fa.fa-files-o.fa-lg
    a.btn.btn-lg.btn-default(href='/genres/new' title='Create new genre')
      span.fa.fa-lg.fa-plus
      |  
      span.fa.fa-lg.fa-tag
    if edit
      include toolbar
  p  

  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf', value=csrf)
    
    - var nameErr = _.find(validate, function(err) { return err.path === 'name' || err.path === 'uniqueName'; }) || ''
    
    .form-group(class=(nameErr ? 'has-error' : ''))
      label.col-md-2.control-label(for='name')= __('Name')
      .col-md-10
        input#name.form-control(type='text' name='name' placeholder=__('Name') value=project.name aria-describedby='namehelp')
        span#namehelp.help-block= __(nameErr ? nameErr.message : 'The title of your project even if temporary.')
        
    - var wcErr = _.find(validate, { path: 'wordcount'}) || ''

    .form-group(class=(wcErr ? 'has-error' : ''))
      label.col-md-2.control-label(for='wordcount')= __('Starting word count')
      .col-md-10
        input#wordcount.form-control(type='text' name='wordcount' placeholder=__('Starting word count') value=project.wordcount aria-describedby='wchelp')
        span#wchelp.help-block= __(wcErr ? wcErr.message : 'If you already started it, put the current wordcount in here.')
        
    - var twcErr = _.find(validate, function(err) { return err.path === 'targetwc' || err.path === 'targetOverStart'; }) || ''
    
    .form-group(class=(twcErr ? 'has-error' : ''))
      label.col-md-2.control-label(for='targetwc')= __('Target word count')
      .col-md-10
        input#targetwc.form-control(type='text' name='targetwc' placeholder=__('Target word count') value=project.targetwc aria-describedby='twchelp')
        span#twchelp.help-block= __(twcErr ? twcErr.message : 'The amount of words you intend to write to finish this project.')
        
    - var ccErr = _.find(validate, { path: 'charcount'}) || ''

    .form-group(class=(ccErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='charcount')= __('Starting character count')
      .col-sm-10
        input#charcount.form-control(type='text' name='charcount' placeholder=__('Starting character count') value=project.charcount aria-describedby='cchelp')
        span#cchelp.help-block= __(ccErr ? ccErr.message : 'If you already started it, put the current character count in here (optional).')

    - var tccErr = _.find(validate, function(err) { return err.path === 'targetcc' || err.path === 'targetCharOverStart'; }) || ''

    .form-group(class=(tccErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='targetcc')= __('Target character count')
      .col-sm-10
        input#targetcc.form-control(type='text' name='targetcc' placeholder=__('Target character count') value=project.targetcc aria-describedby='tcchelp')
        span#tcchelp.help-block= __(tccErr ? tccErr.message : 'The amount of characters you intend to write to finish this project (optional).')

    .form-group
      label.col-md-2.control-label(for='Description')= __('Description')
      .col-md-10
        textarea#description.form-control(rows='3' name='description' placeholder=__('Description') aria-describedby='deschelp')= project.description
        span#desc.help-block Write in here what's this project is about.
        
    .form-group
      .col-md-10.col-md-offset-2
        .checkbox
          label
            input#active(type='checkbox' name='active' checked=project.active aria-describedby='activehelp')
            | Active
          span#activehelp.help-block Check if you are currently working on this project.
    .form-group
      .col-md-10.col-md-offset-2
        .checkbox
          label
            input#finished(type='checkbox' name='finished' checked=project.finished aria-describedby='finshedhelp')
            | Finished
          span#finishedhelp.help-block Check if you already finished this project.
      
    .form-group#genres
      .col-md-12
        for chunk, i in genres
          .row
            if i === 0
              label.col-md-2.control-label Genres
            .col-md-3(class= i !== 0 ? 'col-md-offset-2' : '')
              .checkbox(title=chunk[0].description)
                label
                  input(type='checkbox', name='genres[]' value=chunk[0].id checked=checkGenre(chunk[0].id))
                  = chunk[0].name
            if chunk[1]
              .col-md-3
                .checkbox(title=chunk[1].description)
                  label
                    input(type='checkbox', name='genres[]' value=chunk[1].id checked=checkGenre(chunk[1].id))
                    = chunk[1].name
            if chunk[2]
              .col-md-3
                .checkbox(title=chunk[2].description)
                  label
                    input(type='checkbox', name='genres[]' value=chunk[2].id checked=checkGenre(chunk[2].id))
                    = chunk[2].name
        .row
          .col-md-offset-2.col-md-10
            span#genrehelp.help-block Select the genres this project belongs to.
        
    include ../../mixins/single-form-buttons
    
append scripts
  if user.settings.showTour
    script
      unless edit
        | tour(jQuery, hopscotch, range(17, 25));
