extends ../../layout

block content
  include ../../mixins/progressbar
  include ../../mixins/embedtag
  - moment.locale('en', {calendar: {sameDay : '[today]',nextDay : '[tomorrow]',lastWeek : '[last] dddd',nextWeek : 'dddd',sameElse : '[at] ' + user.settings.dateFormat}})
  - var now = moment.utc().add(target.zoneOffset, 'minutes')
  - var hasStarted = now.isAfter(target.start) || now.isSame(target.start)
  - var totalDays = Math.floor(moment.utc(target.end).diff(moment.utc(target.start), 'days', true)) + 1
  - var daysPast = Math.max(0, Math.min(totalDays, Math.floor(now.diff(moment.utc(target.start), 'days', true)))) 
  - var daysRem = totalDays - daysPast
  - var allSessions = []
  - var totalCount = 0
  - _.forEach(target.projects, function(proj) { allSessions = allSessions.concat(proj.sessions) })
  for sessions, day in _.groupBy(allSessions, function(sess) { return moment.utc(sess.dataValues.start).format(user.settings.dateFormat) })
    - totalCount += _.reduce(sessions, function(wc, sess) { return wc + sess.dataValues[target.unit + 'count'] }, 0)
  - var remainingCount = Math.max(0, target.count - totalCount)
  - var unit = target.unit === 'word' ? 'words' : 'characters'
  - var unitCaps = unit.charAt(0).toLocaleUpperCase() + unit.substring(1);
  - var isOwner = target.ownerId === user.id

  if target.public && isOwner
    .alert.alert-warning
      | This target is <strong>public</strong>, which means anyone with the link is able to see it.

  h1 Target 
    em= target.name
    if isOwner
      small  (
        = _.reduce(target.projects, function (acc, proj) { acc.push(proj.name); return acc; }, []).join(', ')
        | )

  if isOwner
    .btn-group(role='toolbar')
      a.btn.btn-lg.btn-default(href='/targets/' + target.id + '/edit' title='Edit this target')
        span.fa.fa-edit.fa-lg
      include toolbar
    p
  
  if target.count
    .row
      .col-md-12
        - var percentage = Math.min(100, Math.max(0, Math.floor((totalCount / target.count) * 100)))
        +progressbar(totalCount, target.count, percentage)
  if isOwner && daysRem == 0
    .row
      .col-md-2: strong This target is already overdue.
      .col-md-10(class=(totalCount === 0 ? 'alert-danger' : (!target.count ? 'alert-info' : (totalCount >= target.count ? 'alert-success' : 'alert-warning'))))
        if target.count
          if totalCount >= target.count
            p 
              span.fa.fa-smile-o &nbsp;
              | Congratulations, you achieved it! Take a donut and relax! Or maybe you want to keep the momentum and&#x0020;
              a.alert-link(href='/targets/new' title='New target'): strong start a new target
              | !
          else if totalCount > 0
            p
              span.fa.fa-meh-o &nbsp;
              | Oops, it wasn't this time. But be glad that you wrote #{totalCount} #{unit}! What do you think about&#x0020;
              a.alert-link(href='/targets/new' title='New target'): strong starting a new target
              | ?
        else
          if totalCount > 0
            p
              span.fa.fa-question-circle &nbsp;
              | You didn't set up a target count, so I can't tell how you went. But you can always&#x0020;
              a.alert-link(href='/targets/new' title='New target'): strong start a new target
              | .
        if totalCount === 0
          p
            span.fa.fa-frown-o &nbsp;
            | You didn't write a single #{unit.substr(0, unit.length - 1)}. Make a&#x0020;
            a.alert-link(href='/targets/new' title='New target'): strong new target
            |  and this time get over the blank page!
      
    p
  if !hasStarted
    .row
      .col-md-2: strong This target still not started.
      if isOwner
        .col-md-10.alert-danger
          p This target will start <strong>
            != moment.utc(target.start).calendar(moment(now).add(target.zoneOffset || 0, 'minutes'))
            </strong>. Be ready for it!
    p
  else
    .row: .col-md-12: .panel.panel-primary
      .panel-heading: h2.panel-title Target progress
      .panel-body
        #chart
        .text-center
          button#target-change.btn.btn-default(type='button') Show as daily writing
      if target.public
        ul.list-group
          li.list-group-item
            button#embedbutton.btn.btn-default(type='button' data-toggle='button' aria-pressed='false' autocomplete='off')
              | Embed chart
            | &#x0020;
            a.btn.btn-default(href='/targets/' + target.id + '/daily.png' target='_blank') Daily writing image
            | &#x0020;
            a.btn.btn-default(href='/targets/' + target.id + '/cumulative.png' target='_blank') Cumulative writing image
            if isOwner
              | &#x0020;
              button#deleteimages.btn.btn-danger(title='Remove generated images from cache') Delete cached images
            +embedtag('targets', target.id)
  ul.list-group
    li.list-group-item
      .row
        .col-md-2
          strong Period:
        .col-md-10
          = moment.utc(target.start).format(user.settings.dateFormat)
          |  &mdash; 
          = moment.utc(target.end).format(user.settings.dateFormat)
    li.list-group-item
      .row
        .col-md-2: strong Total days:
        .col-md-10= totalDays
          | &nbsp;days
    li.list-group-item
      .row
        .col-md-2
          strong Target count:
        .col-md-10
          = target.count || 'No target set.'
    li.list-group-item
      .row
        .col-md-2
          strong Notes:
        .col-md-10
          unless target.notes
            | None
          else
            - var notePieces = target.notes.split(/(?:\r\n|\r|\n)/g)
            for line, i in notePieces
              if i > 0
                br
              = line
    li.list-group-item
      .row
        .col-md-2
          strong Projects:
        .col-md-10
          ul.fa-ul
            for project in _.sortBy(target.projects, 'name')
              li
                if isOwner || project.public
                  a(href='/projects/' + project.id title='View project ' + project.name)
                    span.fa.fa-li.fa-file-o
                    = project.name
                else
                  span.fa.fa-li.fa-file-o
                  = project.name
                  small  (private)
                if isOwner
                  | &nbsp;(
                  a(href='/sessions?projectid=' + project.id title='All sessions for this project')
                    span.fa.fa-calendar
                  | )
    if target.count
      li.list-group-item
        .row
          .col-md-2: strong Target count per day:
          .col-md-10= Math.ceil(target.count / totalDays)
            | &nbsp;#{unit}
    li.list-group-item
      .row
        .col-md-2: strong #{unitCaps} written:
        .col-md-10= totalCount
          | &nbsp;#{unit}
    if daysRem > 0 && hasStarted
      li.list-group-item
        .row
          .col-md-2: strong Days past:
          .col-md-10= daysPast
            | &nbsp;days
      if target.count
        li.list-group-item
          .row
            .col-md-2: strong #{unitCaps} remaining:
            .col-md-10= remainingCount
              | &nbsp;#{unit}
      li.list-group-item
        .row
          .col-md-2: strong Days remaining:
          .col-md-10= daysRem
            | &nbsp;days
      li.list-group-item
        .row
          .col-md-2: strong Average #{unit} per day:
          .col-md-10= Math.round(totalCount / (daysPast + 1))
            | &nbsp;#{unit}
      if target.count
        li.list-group-item
          .row
            .col-md-2: strong Predicted finish by this rate:
            .col-md-10
              if totalCount === 0
                | Never
              else
                = now.add(Math.ceil((remainingCount) / (totalCount / (daysPast + 1))), 'days').format(user.settings.dateFormat)
        li.list-group-item
          .row
            .col-md-2: strong Daily target to finish on time:
            .col-md-10= Math.ceil(remainingCount / (daysRem))
              | &nbsp;#{unit}
      
  p &nbsp;

append scripts  
  script(type='text/javascript', src='/vendor/highcharts/highcharts.min.js')
  script(type='text/javascript', src='/vendor/highcharts/exporting.min.js')
  script(type='text/javascript', src='/scripts/highcharts-init.min.js')
  script(type='text/javascript', src='/scripts/chart.min.js')
  script(type='text/javascript').
    var link = '/targets/#{target.id}/data.json';
    window.linkChart(link, jQuery, Highcharts, '!{user.settings.chartType}', !{user.settings.showRemaining},
            !{user.settings.showAdjusted}, '#{target.unit}', '#{target.name}', #{target.zoneOffset || 0});
    deleteImageSetup(jQuery, '/targets/#{target.id}/deleteImage');
  if user.settings.showTour
    script
      | tour(jQuery, hopscotch, range(41, 42));