extends ../../layout

block content
  h1= edit ? __('Edit genre') : __('New genre')

  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf', value=csrf)
    - var nameErr = _.find(validate, { path: 'name' }) || ''
    .form-group(class=(nameErr ? 'has-error' : ''))
      label.col-sm-2.control-label(for='name')= __('Name')
      .col-sm-10
        input#name.form-control(type='text' name='name' placeholder=__('Name') value=genre.name aria-describedby='namehelp')
        span#namehelp.help-block= __(nameErr ? nameErr.message : '')
    .form-group
      label.col-sm-2.control-label(for='Description')= __('Description')
      .col-sm-10
        textarea#name.form-control(rows='3' name='description' placeholder=__('Description'))= genre.description
    include ../../mixins/single-form-buttons