extends ../../layout

block content
  h1= title
  
  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf' value=csrf)
    .form-group
      label.col-md-2.control-label(for='dateformat') Date format
      .col-md-10
        select#dateformat.form-control(name='dateformat' aria-describedby='datehelp')
          for format, i in dateFormats.data
            option(value=format selected=format == settings.dateFormat)= dateFormats.labels[i]
              | &nbsp;(
              = moment.utc().format(format)
              | )
        span#datehelp.help-block Your preferred date format for sessions and targets.
    .form-group
      label.col-md-2.control-label(for='timeformat') Time format
      .col-md-10
        select#timeformat.form-control(name='timeformat' aria-describedby='timehelp')
          for format, i in timeFormats.data
            option(value=format selected=format == settings.timeFormat)= timeFormats.labels[i]
              | &nbsp;(
              = moment.utc().format(format)
              | )
        span#datehelp.help-block Your preferred time format for sessions.
    - var lotErr = _.find(validate, function(err) { return err.path === 'lothreshold' }) || ''
    .form-group(class=lotErr ? 'has-error' : '')
      label.col-md-2.control-label(for='lothreshold') Low progress threshold
      .col-md-10
        input#lothreshold.form-control(type='number' name='lothreshold' min='0' max='99' aria-describedby='lotshelp' value=settings.lothreshold)
        span#lotshelp.help-block= lotErr ? lotErr.message : 'Percentage when the progress bar stops being red and starts being yellow.'
    - var hitErr = _.find(validate, function(err) { return err.path === 'hithreshold' || err.path === 'lowThsdBelowHigh' }) || ''
    .form-group(class=hitErr ? 'has-error' : '')
      label.col-md-2.control-label(for='hithreshold') High progress threshold
      .col-md-10
        input#hithreshold.form-control(type='number' name='hithreshold' min='1' max='100' aria-describedby='hitshelp' value=settings.hithreshold)
        span#hitshelp.help-block= hitErr ? hitErr.message : 'Percentage when the progress bar stops being yellow and starts being green.'
    .form-group
      label.col-md-2.control-label(for='charttype') Preferred target chart type
      .col-md-10
        label.radio-inline
          input#charttype(type='radio' name='charttype' value='cumulative' checked='cumulative' == settings.chartType aria-describedby='charttypehelp')
          | Cumulative writing/target
        label.radio-inline
          input#charttype(type='radio' name='charttype' value='daily' checked='daily' == settings.chartType aria-describedby='charttypehelp')
          | Daily writing/target
        span#charttypehelp.help-block Show cumulative or daily wordcount by default on targets' charts.
    .form-group
      label.col-md-2.control-label Target chart extra data
      .col-md-10
        label.checkbox-inline
          input(type='checkbox' name='showRemaining' checked=user.settings.showRemaining aria-describedby='extrahelp')
          | Remaining wordcount
        label.checkbox-inline
          input(type='checkbox' name='showAdjusted' checked=user.settings.showAdjusted aria-describedby='extrahelp')
          | Adjusted daily target
        span#extrahelp.help-block Show in targets' charts remaining wordcount and/or adjusted daily target to achieve on time.
    - var timerErr = _.find(validate, function(err) { return err.path === 'defaultTimer' }) || ''
    .form-group(class=timerErr ? 'has-error' : '')
      label.col-md-2.control-label(for='defaultTimer') Default timer (min:sec)
      .col-md-10
        input#defaultTimer.form-control(type='text' name='defaultTimer' placeholder='Default timer' required=true aria-describedby='timerhelp' value=durationformatter(settings.defaultTimer))
        span#timerhelp.help-block= timerErr ? timerErr.message : 'The default value for the timer in mm:ss format.'
    .form-group
      label.col-md-2.control-label(for='performanceMetric') Performance metric
      .col-md-10
        label.radio-inline
          input#performanceMetric(type='radio' name='performanceMetric' value='total' checked='total' == settings.performanceMetric aria-describedby='performanceMetrichelp')
          | Words per minute in the whole session
        label.radio-inline
          input#performanceMetric(type='radio' name='performanceMetric' value='real' checked='real' == settings.performanceMetric aria-describedby='performanceMetrichelp')
          | Words per minute only in the time writing
        span#performanceMetrichelp.help-block Show best performance based on whole session or exclude the time not writing.
    .form-group
      label.col-md-2.control-label(for='dashtarget') Dashboard target
      .col-md-10
        select#dashtarget.form-control(name='dashtarget' aria-describedby='dashtargethelp')
          option(value='none' selected=(!settings.targetId)) Default (closest target to end date)
          for target in dashtargets
            option(value=target.id selected=(target.id == settings.targetId) )= target.name
        span#dashtargethelp.help-block Which target to show in the dashboard.
    .form-group
      label.col-md-2.control-label Show tour
      .col-md-10
        .checkbox
          label
            input(type='checkbox' name='showTour' checked=settings.showTour aria-describedby='tourhelp')
            | Show application tour next time you visit the dashboard
          span#tourhelp.help-block Start the tour again when you visit the dashboard.
    .form-group
      .col-md-offset-2.col-md-2
        button.btn.btn-primary(type='submit' name='save' value='save') Save